{% extends 'base.html' %}

{% block content%}
    
<h1> {{ product.name }}</h1>



<form action="/products/{{product.id}}" method="post">
    <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{product.name}}" required autofocus>
    </div>
    
    <div>
    <label for="purchase">Purchase</label>
    <input type="number" id="purchase" name="purchase" value="{{product.purchase}}" required>
    </div>

    <div>
    <label for="sell">Sell</label>
    <input type="number" id="sell" name="sell" value="{{product.sell}}" required>
    </div>

    <div>
    <label for="description">description</label>
    <input type="text" id="description" name="description" value="{{product.description}}" required>
    </div>

    <div>
    <label for="stock_qty">Stock Qty</label>
    <input type="number" id="stock_qty" name="stock_qty" value="{{product.stock_qty}}" required>
    </div>

    <div>  this needs to change to a prefill
    <label for="maker">Maker</label>
    <input type="text" id="maker" name="maker" value="{{product.maker}}" required>  
    </div>
    
    <button type="submit">Remake Product</button>
    
</form>

{% endblock  %}
