{% extends 'base.html' %}

{% block content %}

    <h1>Products</h1>

<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>purchase</th>
        <th>sell</th>
        <th>description</th>
        <th>stock_qty</th>

        <a href="/products/new">ADD TO INVENTORY</a>

    </tr>

    {% for product in products %}
    <tr>
        <td><a href="/products/{{ product.id }}">Edit</a></td>
        <td>{{product.name}}</td>
        <td>{{product.purchase}}</td>
        <td>{{product.sell}}</td>
        <td>{{product.description}}</td>
        <td>{{product.stock_qty}}</td>
        <td>{{product.out_of_stock()}}</td>


                    
            

    </tr>
    {% endfor %}

</table>

{% endblock %}