{% extends 'base.html' %}

{% block content %}

<h1>Expand your Inventory</h1>

<form action="/products" method="post">

    <label name="name">Item Name</label>
    <input type="text" name="name", placeholder="product" id="product">
    
    <label name="purchase">Purchase Cost</label>
    <input type="number" name="purchase", placeholder="purchase" id="purchase">
    
    <label name="sell">Sell</label>
    <input type="number" name="sell", placeholder="sell" id="sell">
    
    <label name="description">Description</label>
    <input type="text" name="description", placeholder="description" id="description">

    <label name="stock_qty">Stock Qty</label>
    <input type="int" name="stock_qty", placeholder="stock_qty" id="stock_qty">


    <label name="maker">Maker</label>
    <select name="maker_id">

        {% for maker in makers %}
        <option value="{{ maker.id }}">{{ maker.name }}</option>
        {% endfor %}
        
    </select>

    
<input type="submit" value="Add to Inventory">

</form>


{% endblock %}

