{% extends 'base.html' %}

{% block content %}

    <h1>Makers</h1>

<table>
    <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        <a href="/makers/new">ADD MAKER</a>
    </tr>

    {% for maker in makers %}
    <tr> 
    <td>
    <form action="/makers/{{maker.id}}/delete" method="POST">
    <input type="submit" value="Delete">
    </form>
    </td>

        <td><a href="/makers/{{ maker.id }}">Edit</a></td>
            <td>{{maker.name}}</td>
            <td>{{maker.address}}</td>
        </tr>
    {% endfor %}

</table>

{% endblock %}